
<link rel="stylesheet" href="~/Asset/css/home.css">

<!-- body page -->
<div class="body_page_container">
    <div class="body_page">

        <div class="body_page-slides">
            <div class="body_page-slides-card">
                <a href=""><img src="~/Asset/img/Slider/product_1.jpg" alt=""></a>
                <a href=""><img src="~/Asset/img/Slider/product_2.jpg" alt=""></a>
                <a href=""><img src="~/Asset/img/Slider/product_3.jpg" alt=""></a>
            </div>
            <div class="body_page-slides-card-btns">
                <div class="body_page-slides-card-list-btn">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body_page-popular-product">
            <div class="body_page-popular-product-card">
                <a href=""><img src="~/Asset/img/banner/banner-1.jpg" alt=""></a>
                <button><a href="product.html">Khám phá ngay</a></button>
            </div>
            <div class="body_page-popular-product-card">
                <a href=""><img src="~/Asset/img/banner/banner-2.jpg" alt=""></a>
                <button><a href="product.html">Khám phá ngay</a></button>
            </div>
            <div class="body_page-popular-product-card">
                <a href=""><img src="~/Asset/img/banner/banner-3.jpg" alt=""></a>
                <button><a href="product.html">Khám phá ngay</a></button>
            </div>
        </div>

        <div class="body_page-trending-product">

            <div class="body_page-trending-product-title">
                <p>Sản phẩm</p>
            </div>
            <div class="body_page-trending-product-des">
                <p>Những sản phẩm mới nhất hiện tại</p>
            </div>

            <div class="body_page-trending-product-list">

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/bracelets/bracelet_ruby-2.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Vòng đeo tay bằng Ruby và Kim cương 18K</p>
                        <span>3.169.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html"><img src="~/Asset/img/main_products/rings/ring_emerald-2.jpeg" alt=""></a>
                    </div>
                    <div class="card-title-price">
                        <p>Nhẫn Ngọc lục bảo và Kim cương 14K</p>
                        <span>5.090.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/necklaces/necklace_sapphire-1.jpeg" alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Vòng cổ Sapphire và Kim cương 18K</p>
                        <span>1.088.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/pendants/pendant_aquamarine-1.jpeg" alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Mặt dây chuyền Aquamarine và Kim cương 14K</p>
                        <span>1.129.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/earrings/earring_garnet-1.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Hoa tai đính đá Anthill Garnet Châu Phi 18K</p>
                        <span>829.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/earrings/earring_amethyst-1.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Bông tai Thạch anh tím và kim cương Siberia Vàng trắng</p>
                        <span>2.970.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/bracelets/bracelet_quartz-1.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Vòng Tay Thạch Anh Ưu Linh Trắng 8mm Mix Hoa Mẫu Đơn</p>
                        <span>1.784.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/rings/ring_tanzanite-2.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Nhẫn Tanzanite và Kim cương Vàng trắng 14K</p>
                        <span>1.180.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/pendants/pendant_ruby-2.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Mặt dây chuyền trái tim Ruby và Vàng 14K</p>
                        <span>1.713.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/rings/ring_pearl-1.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Nhẫn Ngọc trai nước ngọt và Kim cương 14k</p>
                        <span>2.285.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/bracelets/bracelet_quartz-2.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Vòng Tay Thạch Anh Ưu Linh Trắng 8mm Mix Bạc</p>
                        <span>1.734.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/earrings/earring_ruby-1.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Hoa tai Ruby và Kim cương Vàng 18K</p>
                        <span>2.484.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/bracelets/bracelet_amethyst-1.jpeg" alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Vòng tay thạch anh tím Siberia 14K</p>
                        <span>5.035.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/earrings/earring_aquamarine-1.jpeg" alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Hoa tai Aquamarine và Kim cương 14K</p>
                        <span>3.265.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <a href="productdetails.html">
                            <img src="~/Asset/img/main_products/necklaces/necklace_emerald-1.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="card-title-price">
                        <p>Vòng cổ Ngọc lục bảo và Kim cương 14K</p>
                        <span>1.394.000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="productdetails.html">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

            </div>

            <div class="body_page-trending-product-seeMoreBtn">
                <button><a href="product.html">Xem thêm</a></button>
            </div>

        </div>

        <div class="body_page-sub-product">
            <div class="body_page-trending-product-title">
                <p>Vật phẩm phong thủy</p>
            </div>
            <div class="body_page-trending-product-des">
                <p>Những sản phẩm mới nhất hiện tại</p>
            </div>

            <div class="body_page-trending-product-list">

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <img src="~/Asset/img/sub_products/s1.jpg" alt="">
                    </div>
                    <div class="card-title-price">
                        <p>Nhẫn Bạc Hồ Ly Thạch Anh Tóc Vàng</p>
                        <span>2,400,000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="#">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <img src="~/Asset/img/sub_products/s2.jpg" alt="">
                    </div>
                    <div class="card-title-price">
                        <p>Móc khóa 12 con giáp cẩm thạch – Tuổi Dần</p>
                        <span>540,000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="#">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <img src="~/Asset/img/sub_products/s3.jpg" alt="">
                    </div>
                    <div class="card-title-price">
                        <p>Móc khóa 12 con giáp cẩm thạch – Tuổi Dậu</p>
                        <span>540,000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="#">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <img src="~/Asset/img/sub_products/s4.jpg" alt="">
                    </div>
                    <div class="card-title-price">
                        <p>Móc khóa 12 con giáp cẩm thạch – Tuổi Hợi</p>
                        <span>450,000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="#">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

                <div class="body_page-trending-product-list-card">
                    <div class="card-image">
                        <img src="~/Asset/img/sub_products/s5.jpg" alt="">
                    </div>
                    <div class="card-title-price">
                        <p>Móc khóa 12 con giáp cẩm thạch – Tuổi Mùi</p>
                        <span>540,000 đ</span>
                    </div>
                    <div class="card-btn">
                        <button><a href="#">Chi tiết</a></button>
                        <button>Thêm vào giỏ</button>
                    </div>
                </div>

            </div>

            <div class="body_page-trending-product-seeMoreBtn">
                <button><a href="">Xem thêm</a></button>
            </div>

        </div>

        <div class="body_page-subscribe">

            <div class="body_page-subscribe-title">
                <h1>Nhận thông tin mã giảm giá</h1>
            </div>

            <div class="body_page-subscribe-des">
                <p>
                    Đăng ký danh sách gửi thư GemStore để nhận thông tin cập nhật về hàng mới, ưu đãi đặc biệt và
                    thông tin giảm giá khác.
                </p>
            </div>

            <div class="body_page-subscribe-input">
                <input type="text" placeholder="Theo dõi tin tức của chúng tôi">
            </div>

            <div class="body_page-subscribe-btn">
                <button>Đăng ký</button>
            </div>

        </div>

    </div>
</div>