.header_page{
    background-color: #E4E4E4;
    width: 100%;
}
.header_page-main{
    width: 80%;
    margin: 0 auto;
    background-color: #E4E4E4;
}
.sticky {
    width: 100%;
    background: #fff;
}
.body_page {
    width: 100%;
    overflow: auto;
}

.body_page-menu {
    padding: 15px;
    background: #b2bec3;
}

.body_page-menu ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.body_page-menu ul li {
    margin-right: 10px;
}

.body_page-menu span {
    margin-right: 10px;
}

.body_page-menu ul li:first-child:hover a {
    color: #bc8247;
}

.body_page-menu ul li a {
    color: #000;
    transition: all 0.2s;
}

.body_page-menu ul li a i {
    margin-right: 3px;
    font-size: 14px;
}
input, button, textarea {
    border-radius: 5px;
}
/*  */
.body_page-main {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}

.body_page-main-address,
.body_page-main-form {
    width: 48%;
    line-height: 2;
    padding: 10px;
    margin-right: 10px;
}

.body_page-main-address {}

.body_page-main-address h1,
.body_page-main-form h1 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

.body_page-main-address ul li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 10px;
}

.body_page-main-address ul li:hover span {
    transform: scale(0.9);
    background: #bc8247;
    color: #fff;
    border: 1px solid #fff;
}

.body_page-main-address ul li:hover a {
    color: #bc8247;
}

.body_page-main-address ul li span {
    border: 1px solid #000;
    padding: 8px 16px;
    margin-right: 20px;
    transition: all 0.3s;
}

.body_page-main-address ul li p a {
    color: #000;
    transition: all 0.3s;
}

.body_page-main-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #bc8247;
}

.body_page-main-form input[type="submit"] {
    background: none;
    width: 40%;
    font-weight: bold;
    /*border: 1px solid #000;*/
    transition: all 0.3s;
    border: 1px solid #bc8247;
    color: #bc8247;
}

.body_page-main-form input[type="submit"]:hover {
    background: #bc8247;
    color: #fff;
    border: 1px solid #fff;
}

.body_page-main-form textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    outline: none;
    padding: 10px;
    border: 1px solid #bc8247;
}

/*  */
.body_page-subscribe {
    border-top: 1px solid #ebebeb;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

.body_page-subscribe-title {
    margin-bottom: 20px;
}

.body_page-subscribe-title h1 {
    font-weight: normal;
}

.body_page-subscribe-des {
    color: #dadada;
    margin-bottom: 50px;
}

.body_page-subscribe-input {
    margin-bottom: 50px;
}

.body_page-subscribe-input input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #dadada;
    outline: none;
}

.body_page-subscribe-input input::placeholder {
    text-align: center;
}

.body_page-subscribe-btn button {
    background: none;
    padding: 10px 50px;
    border: 2px solid #bc8247;
    font-weight: bold;
    color: #bc8247;
    font-size: 14px;
    transition: all .3s;
}

.body_page-subscribe-btn button:hover {
    transform: scale(0.9);
    background: #bc8247;
    color: #fff;
}


/* responsive */
@media screen and (max-width:428px) {

    .body_page-main{
        width: 100%;
        display: inline-block;
    }

    .body_page-menu ul{
        /* display: inline-block; */
        width: 100%;
    }

    .body_page-main-address,
    .body_page-main-form {
        width: 100%;
    }
}