.header_page{
    background-color: #E4E4E4;
    width: 100%;
}
.header_page-main{
    width: 80%;
    margin: 0 auto;
    background-color: #E4E4E4;
}
.sticky {
    width: 100%;
    background: #fff;
}
.body_page {
    width: 100%;
    overflow: auto;
}

.body_page-menu {
    padding: 15px;
    background: #b2bec3;
}

.body_page-menu ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.body_page-menu ul li {
    margin-right: 10px;
}

.body_page-menu span {
    margin-right: 10px;
}

.body_page-menu ul li:first-child:hover a {
    color: #bc8247;
}

.body_page-menu ul li a {
    color: #000;
    transition: all 0.2s;
}

.body_page-menu ul li a i {
    margin-right: 3px;
    font-size: 14px;
}

input,
button {
    outline: 0;
    border-radius: 5px;
}

/*login form*/
.body_page-main {
    width: 35%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}

.body_page-main .lost-pass-container {
    border: #e9ecfe solid 2px;
    padding: 50px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.body_page .lost-pass-container .text-header {
    margin: auto;
    text-align: center;
}

.body_page .lost-pass-container .text-header h3 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 20px;
    border-bottom: 2px solid #e9ecfe;
}

.body_page .lost-pass-container .message p {
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.body_page .lost-pass-container form input[type=email] {
    padding: 0 20px;
    width: 100%;
    height: 60px;
    border: 2px solid #eaedff;
    color: #6f7172;
    margin-bottom: 20px;
    font-size: inherit;
    line-height: inherit;
}


.body_page .lost-pass-container form label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: Poppins, sans-serif;
    color: #222;
}

.body_page .lost-pass-container form label span {
    color: red;
}


.body_page .lost-pass-container form button.cancel-button {
    color: #323232;
    border: 2px solid #ebebeb;
    width: 100% !important;
    font-weight: 600;
    height: 50px;
    line-height: 46px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    background: transparent;
}

.body_page .lost-pass-container form button.cancel-button:hover {
    color: #fff;
    border-color: #bc8246;
    background: #bc8246;
    transition: all 0.4s;
    cursor: pointer;
}


.body_page .lost-pass-container form button.find-button {
    color: #fff;
    border: 2px solid #323232;
    width: 100% !important;
    font-weight: 600;
    height: 50px;
    line-height: 46px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    background: #323232;
    margin-bottom: 20px;
}

.body_page .lost-pass-container form button.find-button:hover {
    color: #fff;
    border-color: #bc8246;
    background: #bc8246;
    transition: all 0.4s;
    cursor: pointer;
}

/* responsive */
@media screen and (max-width: 428px) {


    .body_page-main {
        margin: 20px auto;
        width: 95%;
    }

    .body_page-main .lost-pass-container {
        padding: 30px;
    }

    .body_page-menu ul {
        /* display: inline-block; */
        width: 100%;
    }

    .body_page-main-address,
    .body_page-main-form {
        width: 100%;
    }

    .body_page .lost-pass-container .text-header h3 {
        font-size: 20px;
    }


}

@media screen and (max-height: 844px) and (max-width: 428px) {
    .sticky {
        position: relative;
    }
}